.Rproj.user
.Rhistory
.RData
.Ruserdata
AdaptiveRadiationComp.Rproj
.DS_Store
habitat_diversity/iucn_habitatclassification_composite*
habitat_diversity/scalesia*
habitat_diversity/CaribbeanAnoles/data_1*
*.Rproj